@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

html {
    background-image: url(Media/Background.png);
}

body {
    font-family: 'Oxygen', sans-serif;
    color: #E8E8E8;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 150px;
}

a {
    color: #FF3DA8;
}

#navbar {
    top: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: #353535;
    border-bottom: 3px solid #E8E8E8;
    font-family: 'Oxygen', sans-serif;
}

#navbar a {
    float: left;
    display: block;
    color: #FF3DA8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background: #E8E8E8;
}

#container {
    width: 1600px;
    margin: 0 auto;
    background-color: #353535;
    padding: 15px;
    border-radius: 15px;
    border: 3px solid #E8E8E8;
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
}

header {
    height: 50px;
    text-align: center;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
    border-color: #FF3DA8;
}

header h1 {
    margin-top: 0;
    font-size: 28px;
    color: #FF3DA8;
}

#embed {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

#tim {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#spider {
    text-align: center;
}

#description {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

aside {
    float: left;
    width: 15%;
    padding: 1em  1em 1em 1em;
    margin-bottom: 1em;
    height: 500px;
    border-right: 1px solid black;
    border-color: #FF3DA8;
}

aside p {
    color: #FF3DA8;
}

article {
    float: left;
    width: 80%;
    height: 500px;
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    clear: both;
    border-top: 1px solid black;
    border-color: #FF3DA8;
}